<ng-container *ngIf="details$ | async as details">
  <button *ngIf="details.full_picture" mat-mini-fab matTooltip="Click to copy image url"
          cdkCopyToClipboard="{{details.full_picture}}">
    <mat-icon>share</mat-icon>
  </button>
  <figure>
    <div class="panzoom-wrapper">
      <pan-zoom [config]="panZoomConfig" >
        <img [src]="details.full_picture" alt="Picture by {{ details.author }}">
      </pan-zoom>
    </div>
    <figcaption>
      <span>Author: {{details.author}}</span>
      <span>Camera: {{details?.camera || 'unknown'}}</span>
      <span>Tags: {{details.tags}}</span>
    </figcaption>
  </figure>
</ng-container>
