:host {
  position: relative;
  display: flex;
  min-width: 768px;
  min-height: 512px;
  width: auto;
  height: auto;
}

:host:hover button {
  visibility: visible;
  opacity: 1;
}

.panzoom-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;

  position: absolute;
  top: var(--dialog-close-indent);
  right: calc(var(--dialog-close-indent) * 2 + var(--dialog-close-size));
  z-index: 1;
}

figure {
  position: relative;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
}

figure:hover figcaption {

}

figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  padding: var(--picture-details-caption-indent);
  flex-direction: column;
  width: 100%;
  font-size: var(--picture-details-caption-f-size);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

figcaption > *:not(:last-child) {
  margin-bottom: 20px;
}
